<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] GamerPilot</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.min.css" />
    <link rel="stylesheet" href="~/css/flipclock.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" asp-controller="home" asp-action="index">GamerPilot</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar">
        <ul class="nav navbar-nav navbar-right">
            @*<li><a asp-controller="Home" asp-action="About" class="nav-links">Om os</a></li>*@
            <li><a asp-controller="Home" asp-action="Parents" class="nav-links">Til forældrene</a></li>
            <li><a asp-controller="Home" asp-action="Panel" class="button havelock nav-btn">Få tidlig adgang</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
    
<!--Notifications -->
@{
    <div class="notifications" id="js-visible" >
        @if (TempData.ContainsKey("Error"))
        {
            <div class="notification-error js-notify">@TempData["Error"]</div>
            <script>
                document.getElementById("js-visible").style.visibility = "visible";
            </script>
        }
        else if (TempData.ContainsKey("Success"))
        {
            <div class="notification-success js-notify"> @TempData["Success"]</div>
            <script>
                document.getElementById("js-visible").style.visibility = "visible";
            </script>        }
    </div>
}

<div class="container-fluid">
    @RenderBody()
    <footer>
        <div class="row">
            <div class="col-md-12 nopadding">
                <div class="stripe">

                    <div class="row">



                        <div class="col-md-8 col-md-offset-2">
                            <div class="footer-container">
                                <h3>Få at vide, når vi lancerer! (Spamfri)</h3>
                                @{
                                    //Get the current action name, so we can redirect to it on submit
                                    var action = ViewContext.RouteData.Values["Action"];

                                    <form asp-controller="Home" asp-action="Subscribe" method="post" class="form-inline" asp-route-returnUrl="@action">
                                        <input type="email" name="email" placeholder="Din Email" class="subscribe_input footer_input" required/>
                                        <input type="submit" class="button havelock subscribe_btn" value="Skriv op"/>
                                    </form>
                                }

                            </div>
                            
                           
                        </div>
                        
                        <div class="col-md-8 col-md-offset-2">
                            <div class="footer-container">
                                <a target="_blank" href="https://da.surveymonkey.com/r/5HZWRMM" class="button havelock">Spørgeskema (unge)</a>
                                <a target="_blank" href="https://da.surveymonkey.com/r/5H6KYT8" class="button havelock">Spørgeskema (forældre)</a>
                            </div>
                        </div>
                    </div>

                        <div class="col-md-12">
                            <div class="company-info">
                                <p>&copy; 2018 - GamerPilot - CVR: 39306085 - support@gamerpilot.dk</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        

    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/particles.js" asp-append-version="true"></script>
<script src="~/js/flipclock.min.js" asp-append-version="true"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
